$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$light-blue: #98cdff;
$light-blue2: #83b1d6;
$blue: #4D7FAE;
$drak-blue: #22496D;
$black: #143452;
$grey: #AFAFAF;
$red: #C94515;
$white: #FFFFFF;