// @use "./styles/partials/_typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/_mixins" as *;
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

:root {
  font-family: "TitilliumWeb", sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  font-family: "TitilliumWeb", sans-serif;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  font-weight: 600;

  @include tablet {
    font-weight: 400;
  }

}

body {
  margin: 0;
  padding: 0;
  background-color: $black;
  color: $white;
}

h1 {
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 600;
}

// .button {
//   @include button;
// }

input,
textarea {
  border-radius: 1.25rem;
  font-family: inherit;
  height: 2.3rem;
  background-color: $white;
  color: $black;
  border: 1px solid $grey;
  padding: 0 1rem;
  outline: none;
  resize: none;

  &:hover {
    border-color: $blue;
  }

  &--error {
    border-color: $red;
  }

  @include tablet {
    height: 2.4rem;
  }
}

.input {
  &--search {
    // background-image: url("./assets/icons/search-24px.svg");
    // background-repeat: no-repeat;
    background-position: 90%;
    padding-right: 2.5rem;
  }

  &--dropdown {
    // background-image: url("./assets/icons/arrow_drop_down-24px.svg");
    // background-repeat: no-repeat;
    background-position: 90%;
    padding-right: 2.5rem;
  }
}