.backIcon {
    // color: white;
    background-color: aqua;
    // border: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2rem;
    // color: $white;
    // font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-bottom: 1rem;
    z-index: 0;
    opacity: 1;
}